<div class="detail-pet">
  <div class="row">
  <div class="col-md-12">
    <h2>Ayuda a {{petDetails.name}} a tener una nueva historia, adóptalo</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
      <img src="{{petDetails.petPath}}" alt="" class='card-img-top'>
  </div>
  <div class="col-md-6">
    <p>Especie: {{petDetails.specie}}</p>
    <p>Edad:{{petDetails.age}}</p>
    <p>Tamaño: {{petDetails.size}}</p>
    <p>ironSaver/Refugio: {{petDetails.shelter.role}}</p>
    <button class="btn btn-primary" id="formButton">Adoptar</button>

    <form id="form1" action="/send-email" method="post" class='text-center text-muted mb-4 p-4'>
    <p class=' pl-4 pr-4 h5 mb-4'>Escríbe un mensaje al dueño para que sepa que estas interesado en adoptar a {{petDetails.name}}</p>
    {{!-- <p>Llena el siguiente formulario para que se puedan poner en contacto contigo</p> --}}
      <div class="form-group mb-2">
        <input type="hidden" name="emailShelter" id="" value="{{petDetails.shelter.email}}">
        <input type="email" name="email" id="" value="" placeholder="Correo electrónico">
      </div>
      <div class='form-group mb-2'>
        <input type="number" name="phone" id="" value="" placeholder="Telefono de contacto">
      </div>
      <div class='form-group mb-2'>
        <input type="text" name="subject" id="" value="Asunto:" placeholder="Asunto">
      </div>
      <div class='form-group mb-2'>
        <textarea type="text" name="message" id="" placeholder="Escribe aquí tu mensaje"> </textarea>
      </div>
      <button type="submit">Adoptar</button>
    </form>
  </div>
</div>
</div>
